.scroll-down {
  @apply hidden md:block border-2 dark:border-background-light border-background;
  border-radius: 20px;
  bottom: 60px;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 20px;
  z-index: 11;

  &::before {
    @apply border-2 dark:bg-background-light bg-background;
    animation: scrollDownAnimation 2s infinite;
    border-radius: 100%;
    content: '';
    height: 10px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 10px;
    width: 10px;
  }
}

@keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
